/* purgecss start ignore */
@font-face {
  font-family: 'barlow';
  src: url("/fonts/barlow-medium.woff2") format("woff2"), url("/fonts/barlow-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'barlow';
  src: url("/fonts/barlow-extrabold.woff2") format("woff2"), url("/fonts/barlow-extrabold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

/* prettier-ignore */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  padding: 0;
  margin: 0; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

button {
  font-family: inherit;
  color: inherit; }

img {
  max-width: 100%;
  display: block; }

:root {
  --purple-900: #21003C;
  --purple-500: #7200CA;
  --purple-400: #AA00FF;
  --purple-300: #E254FF;
  --purple-100: #F6CCFF;
  --purple-50: #FDF6FF;
  --white: #FFFFFF;
  --text-color: var(--purple-900);
  --bg-color: var(--white);
  --link-color: var(--purple-500); }

:root[data-color-scheme="dark"] {
  --text-color: var(--white);
  --bg-color: var(--purple-900);
  --link-color: var(--purple-300); }

:root[data-color-scheme="light"] {
  --text-color: var(--purple-900);
  --bg-color: var(--white);
  --link-color: var(--purple-500); }

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--white);
    --bg-color: var(--purple-900);
    --link-color: var(--purple-300); } }

@media (prefers-color-scheme: light) {
  :root {
    --text-color: var(--purple-900);
    --bg-color: var(--white);
    --link-color: var(--purple-500); } }

body {
  color: var(--text-color);
  background-color: var(--bg-color); }

*:focus {
  outline: none; }

body {
  color: var(--text-color);
  background-color: var(--bg-color); }
  body[data-keyboard-mode="true"] *:focus {
    outline: 3px dotted var(--text-color);
    outline-offset: 3px; }

:root[data-font-size="smaller"] {
  font-size: 0.8rem; }

:root[data-font-size="larger"] {
  font-size: 1.4rem; }

body {
  font-family: 'barlow', sans-serif;
  -webkit-font-smoothing: antialiased; }

ol,
ul {
  font-size: 1rem;
  line-height: 1.625;
  letter-spacing: 0;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1em; }
  @media screen and (min-width: 640px) {
    ol,
    ul {
      font-size: 1.25rem;
      line-height: 1.5;
      letter-spacing: 0;
      font-weight: normal;
      margin-top: 0; } }
  ol li,
  ul li {
    margin-bottom: 0.5em; }

dl {
  font-size: 1rem;
  line-height: 1.625;
  letter-spacing: 0;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1em; }
  @media screen and (min-width: 640px) {
    dl {
      font-size: 1.25rem;
      line-height: 1.5;
      letter-spacing: 0;
      font-weight: normal;
      margin-top: 0; } }
  dl dt {
    font-weight: bold; }
  dl dd {
    margin-left: 0; }

td {
  font-size: 1rem;
  line-height: 1.625;
  letter-spacing: 0;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1em; }
  @media screen and (min-width: 640px) {
    td {
      font-size: 1.25rem;
      line-height: 1.5;
      letter-spacing: 0;
      font-weight: normal;
      margin-top: 0; } }

hr {
  border: 0;
  height: 1px;
  background-color: #333333; }

a {
  font-size: 1rem;
  line-height: 1.625;
  letter-spacing: 0;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1em;
  margin-bottom: 0;
  color: var(--link-color);
  text-decoration: none; }
  @media screen and (min-width: 640px) {
    a {
      font-size: 1.25rem;
      line-height: 1.5;
      letter-spacing: 0;
      font-weight: normal;
      margin-top: 0; } }

h1,
.h1 {
  font-size: 3rem;
  line-height: 0.95833;
  letter-spacing: -0.01042em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.5em; }

h2,
.h2 {
  font-size: 2rem;
  line-height: 1.1875;
  letter-spacing: -0.00781em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.5em; }

h3,
.h3 {
  font-size: 1.75rem;
  line-height: 1.21429;
  letter-spacing: -0.00893em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.5em; }

h4,
.h4 {
  font-size: 1.5rem;
  line-height: 1.16667;
  letter-spacing: 0;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.5em; }

h5,
.h5 {
  font-size: 1.125rem;
  line-height: 1.22222;
  letter-spacing: 0.02778em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1em; }

h6,
.h6 {
  font-size: 0.75rem;
  line-height: 1.16667;
  letter-spacing: 0.08333em;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0.25; }

large,
.large {
  font-size: 1.125rem;
  line-height: 1.55556;
  letter-spacing: 0;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1em; }

p,
.p {
  font-size: 1rem;
  line-height: 1.625;
  letter-spacing: 0;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1em; }

small,
.small {
  font-size: 0.8125rem;
  line-height: 1.61538;
  letter-spacing: 0.02308em;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1em; }

@media screen and (min-width: 640px) {
  h1,
  .h1 {
    font-size: 6rem;
    line-height: 0.95833;
    letter-spacing: -0.03125em;
    font-weight: bold;
    margin-top: 0; }
  h2,
  .h2 {
    font-size: 3.875rem;
    line-height: 1.19355;
    letter-spacing: 0.00806em;
    font-weight: bold;
    margin-top: 0; }
  h3,
  .h3 {
    font-size: 3rem;
    line-height: 1.20833;
    letter-spacing: -0.01042em;
    font-weight: bold;
    margin-top: 0; }
  h4,
  .h4 {
    font-size: 2rem;
    line-height: 1.1875;
    letter-spacing: 0;
    font-weight: bold;
    margin-top: 0; }
  h5,
  .h5 {
    font-size: 1.375rem;
    line-height: 1.18182;
    letter-spacing: 0.02273em;
    font-weight: bold;
    margin-top: 0; }
  h6,
  .h6 {
    font-size: 0.875rem;
    line-height: 1.21429;
    letter-spacing: 0.05357em;
    font-weight: normal;
    margin-top: 0; }
  large,
  .large {
    font-size: 1.5rem;
    line-height: 1.41667;
    letter-spacing: 0;
    font-weight: normal;
    margin-top: 0; }
  p,
  .p {
    font-size: 1.25rem;
    line-height: 1.5;
    letter-spacing: 0;
    font-weight: normal;
    margin-top: 0; }
  small,
  .small {
    font-size: 0.9375rem;
    line-height: 1.6;
    letter-spacing: 0.01em;
    font-weight: normal;
    margin-top: 0; } }

h6, .h6 {
  text-transform: uppercase; }

/* purgecss end ignore */
.arrow-icon {
  height: 0.6em;
  margin-left: 0.25em;
  display: inline-block;
  stroke-width: 0.0625rem; }
  @media screen and (min-width: 640px) {
    .arrow-icon {
      stroke-width: 0.09375rem; } }

.layout-wrap {
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 480px; }
  @media screen and (min-width: 640px) {
    .layout-wrap {
      padding-left: 40px;
      padding-right: 40px;
      max-width: 720px; } }
  @media screen and (min-width: 1024px) {
    .layout-wrap {
      padding-left: 48px;
      padding-right: 48px;
      max-width: 75rem; } }

.layout-full {
  margin: auto;
  padding-left: 16px;
  padding-right: 16px; }

.calculator {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  max-width: 380px;
  border: 1px solid #3b3a47; }
  .calculator ol {
    padding-left: 0;
    margin: 0; }
  .calculator li {
    display: flex;
    margin-bottom: 8px; }
  .calculator label {
    flex: 1 1 50%;
    text-align: right;
    padding-right: 8px; }
  .calculator input {
    flex: 1 1 50%;
    min-width: 72px; }
  .calculator button {
    padding: 0.4em 0.8em;
    width: 50%;
    align-self: flex-end; }
  .calculator h4 {
    text-align: right; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem; }
  @media screen and (min-width: 640px) {
    .navigation {
      padding-top: 1rem;
      padding-bottom: 1rem; } }
  .navigation__list {
    flex: 1 0 auto;
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center; }
  .navigation__right {
    flex: 0 1 auto;
    margin-left: 2.5rem; }
  .navigation__item {
    margin-bottom: 0; }
    .navigation__item + .navigation__item {
      margin-left: 0.5rem; }
  .navigation__link {
    padding: 1rem 0;
    position: relative;
    color: var(--text-color);
    text-decoration: none; }
    .navigation__link::after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      bottom: 1rem;
      margin-left: -0.5rem;
      width: 1rem;
      height: 0.125rem;
      background-color: var(--text-color);
      opacity: 0; }
    .navigation__link--active::after {
      opacity: 1; }

nav a.active {
  font-weight: bold; }
  nav a.active::before {
    content: "> "; }

li > a {
  display: block; }

.spacer {
  background-color: #FABCC7;
  color: #BC4A9E;
  margin-right: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  width: 24px;
  height: 24px;
  font-size: 16px; }
  .spacer--small {
    font-size: 10px; }

@keyframes slidein {
  from {
    opacity: 0.2;
    transform: translateX(50%); }
  50% {
    opacity: 1; }
  to {
    transform: translateX(0%); } }

.accessibility-control {
  display: inline-block;
  position: relative; }
  .accessibility-control__button {
    z-index: 2;
    position: relative;
    background: none;
    appearance: none;
    border: 2px solid transparent;
    border-radius: 50%;
    padding: 0;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 200ms ease; }
    @media screen and (min-width: 640px) {
      .accessibility-control__button {
        height: 3.5rem;
        width: 3.5rem; } }
    .accessibility-control__button:hover {
      border-color: var(--link-color); }
    .accessibility-control__button:active, .accessibility-control__button[data-active="true"] {
      border-color: var(--text-color); }
    .accessibility-control__button-icon--text {
      font-size: 1.75rem;
      line-height: 1.21429;
      letter-spacing: -0.00893em;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 0.5em;
      margin-top: -0.125em;
      margin-bottom: 0; }
    .accessibility-control__button-label {
      display: none; }
  .accessibility-control__panel {
    z-index: 2;
    min-width: 200px;
    padding: 1em;
    background-color: var(--bg-color);
    position: absolute;
    right: 0;
    will-change: opacity, transform;
    opacity: 1;
    transform: translateX(0%);
    transition: opacity 300ms, transform 400ms; }
    .accessibility-control__panel[aria-hidden="true"] {
      transform: translateX(100%);
      opacity: 0;
      pointer-events: none; }
      .accessibility-control__panel[aria-hidden="true"].invisible {
        visibility: hidden; }

.overlay-screen {
  z-index: 1;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  transition: opacity 200ms ease; }
  .overlay-screen[aria-hidden="true"] {
    opacity: 0;
    pointer-events: none; }

.visible-tab-only {
  position: absolute;
  opacity: 0;
  pointer-events: none; }
  .visible-tab-only:focus {
    opacity: 1;
    background: var(--bg-color); }

.homepage--hero {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem; }

.homepage--row {
  margin-bottom: 4.5rem; }

@media screen and (min-width: 1024px) {
  .homepage--hero {
    margin-top: 7.5rem;
    margin-bottom: 8.5rem; }
  .homepage--row {
    display: flex;
    margin-bottom: 7.5rem; }
  .homepage--col1 {
    flex: 0 0 40%;
    padding-right: 1.75rem; }
  .homepage--col2 {
    flex: 0 0 60%;
    padding-left: 1.75rem;
    padding-top: 1rem; } }

@media screen and (min-width: 1200px) {
  .homepage--col1 {
    flex: 1 0 35%; }
  .homepage--col2 {
    flex: 0 0 65%; } }

.logo-caplin {
  height: 1rem;
  width: auto; }
  @media screen and (min-width: 640px) {
    .logo-caplin {
      height: 1.3125rem; } }

.logo-citi {
  height: 2.0625rem;
  width: auto; }
  @media screen and (min-width: 640px) {
    .logo-citi {
      height: 3.125rem; } }

.logo-fidelity {
  height: 2.0625rem;
  width: auto; }
  @media screen and (min-width: 640px) {
    .logo-fidelity {
      height: 2.8125rem; } }

.m-0 {
  margin: 0; }

.m-b-0 {
  margin-bottom: 0; }

.m-t-0 {
  margin-top: 0; }

.m-l-0 {
  margin-left: 0; }

.m-r-0 {
  margin-right: 0; }

.p-0 {
  padding: 0; }

.p-b-0 {
  padding-bottom: 0; }

.p-t-0 {
  padding-top: 0; }

.p-l-0 {
  padding-left: 0; }

.p-r-0 {
  padding-right: 0; }

.m-tiny {
  margin: 0.25rem; }

.m-b-tiny {
  margin-bottom: 0.25rem; }

.m-t-tiny {
  margin-top: 0.25rem; }

.m-l-tiny {
  margin-left: 0.25rem; }

.m-r-tiny {
  margin-right: 0.25rem; }

.p-tiny {
  padding: 0.25rem; }

.p-b-tiny {
  padding-bottom: 0.25rem; }

.p-t-tiny {
  padding-top: 0.25rem; }

.p-l-tiny {
  padding-left: 0.25rem; }

.p-r-tiny {
  padding-right: 0.25rem; }

.m-1 {
  margin: 0.5rem; }

.m-b-1 {
  margin-bottom: 0.5rem; }

.m-t-1 {
  margin-top: 0.5rem; }

.m-l-1 {
  margin-left: 0.5rem; }

.m-r-1 {
  margin-right: 0.5rem; }

.p-1 {
  padding: 0.5rem; }

.p-b-1 {
  padding-bottom: 0.5rem; }

.p-t-1 {
  padding-top: 0.5rem; }

.p-l-1 {
  padding-left: 0.5rem; }

.p-r-1 {
  padding-right: 0.5rem; }

.m-2 {
  margin: 1rem; }

.m-b-2 {
  margin-bottom: 1rem; }

.m-t-2 {
  margin-top: 1rem; }

.m-l-2 {
  margin-left: 1rem; }

.m-r-2 {
  margin-right: 1rem; }

.p-2 {
  padding: 1rem; }

.p-b-2 {
  padding-bottom: 1rem; }

.p-t-2 {
  padding-top: 1rem; }

.p-l-2 {
  padding-left: 1rem; }

.p-r-2 {
  padding-right: 1rem; }

.m-3 {
  margin: 1.25rem; }

.m-b-3 {
  margin-bottom: 1.25rem; }

.m-t-3 {
  margin-top: 1.25rem; }

.m-l-3 {
  margin-left: 1.25rem; }

.m-r-3 {
  margin-right: 1.25rem; }

.p-3 {
  padding: 1.25rem; }

.p-b-3 {
  padding-bottom: 1.25rem; }

.p-t-3 {
  padding-top: 1.25rem; }

.p-l-3 {
  padding-left: 1.25rem; }

.p-r-3 {
  padding-right: 1.25rem; }

.m-4 {
  margin: 1.5rem; }

.m-b-4 {
  margin-bottom: 1.5rem; }

.m-t-4 {
  margin-top: 1.5rem; }

.m-l-4 {
  margin-left: 1.5rem; }

.m-r-4 {
  margin-right: 1.5rem; }

.p-4 {
  padding: 1.5rem; }

.p-b-4 {
  padding-bottom: 1.5rem; }

.p-t-4 {
  padding-top: 1.5rem; }

.p-l-4 {
  padding-left: 1.5rem; }

.p-r-4 {
  padding-right: 1.5rem; }

.m-5 {
  margin: 2rem; }

.m-b-5 {
  margin-bottom: 2rem; }

.m-t-5 {
  margin-top: 2rem; }

.m-l-5 {
  margin-left: 2rem; }

.m-r-5 {
  margin-right: 2rem; }

.p-5 {
  padding: 2rem; }

.p-b-5 {
  padding-bottom: 2rem; }

.p-t-5 {
  padding-top: 2rem; }

.p-l-5 {
  padding-left: 2rem; }

.p-r-5 {
  padding-right: 2rem; }

.m-6 {
  margin: 2.5rem; }

.m-b-6 {
  margin-bottom: 2.5rem; }

.m-t-6 {
  margin-top: 2.5rem; }

.m-l-6 {
  margin-left: 2.5rem; }

.m-r-6 {
  margin-right: 2.5rem; }

.p-6 {
  padding: 2.5rem; }

.p-b-6 {
  padding-bottom: 2.5rem; }

.p-t-6 {
  padding-top: 2.5rem; }

.p-l-6 {
  padding-left: 2.5rem; }

.p-r-6 {
  padding-right: 2.5rem; }

.m-7 {
  margin: 3rem; }

.m-b-7 {
  margin-bottom: 3rem; }

.m-t-7 {
  margin-top: 3rem; }

.m-l-7 {
  margin-left: 3rem; }

.m-r-7 {
  margin-right: 3rem; }

.p-7 {
  padding: 3rem; }

.p-b-7 {
  padding-bottom: 3rem; }

.p-t-7 {
  padding-top: 3rem; }

.p-l-7 {
  padding-left: 3rem; }

.p-r-7 {
  padding-right: 3rem; }

.m-8 {
  margin: 3.5rem; }

.m-b-8 {
  margin-bottom: 3.5rem; }

.m-t-8 {
  margin-top: 3.5rem; }

.m-l-8 {
  margin-left: 3.5rem; }

.m-r-8 {
  margin-right: 3.5rem; }

.p-8 {
  padding: 3.5rem; }

.p-b-8 {
  padding-bottom: 3.5rem; }

.p-t-8 {
  padding-top: 3.5rem; }

.p-l-8 {
  padding-left: 3.5rem; }

.p-r-8 {
  padding-right: 3.5rem; }

.m-9 {
  margin: 4rem; }

.m-b-9 {
  margin-bottom: 4rem; }

.m-t-9 {
  margin-top: 4rem; }

.m-l-9 {
  margin-left: 4rem; }

.m-r-9 {
  margin-right: 4rem; }

.p-9 {
  padding: 4rem; }

.p-b-9 {
  padding-bottom: 4rem; }

.p-t-9 {
  padding-top: 4rem; }

.p-l-9 {
  padding-left: 4rem; }

.p-r-9 {
  padding-right: 4rem; }

.m-10 {
  margin: 4.5rem; }

.m-b-10 {
  margin-bottom: 4.5rem; }

.m-t-10 {
  margin-top: 4.5rem; }

.m-l-10 {
  margin-left: 4.5rem; }

.m-r-10 {
  margin-right: 4.5rem; }

.p-10 {
  padding: 4.5rem; }

.p-b-10 {
  padding-bottom: 4.5rem; }

.p-t-10 {
  padding-top: 4.5rem; }

.p-l-10 {
  padding-left: 4.5rem; }

.p-r-10 {
  padding-right: 4.5rem; }

@media screen and (min-width: 640px) {
  .md--m-0 {
    margin: 0; }
  .md--m-b-0 {
    margin-bottom: 0; }
  .md--m-t-0 {
    margin-top: 0; }
  .md--m-l-0 {
    margin-left: 0; }
  .md--m-r-0 {
    margin-right: 0; }
  .md--p-0 {
    padding: 0; }
  .md--p-b-0 {
    padding-bottom: 0; }
  .md--p-t-0 {
    padding-top: 0; }
  .md--p-l-0 {
    padding-left: 0; }
  .md--p-r-0 {
    padding-right: 0; }
  .md--m-tiny {
    margin: 0.25rem; }
  .md--m-b-tiny {
    margin-bottom: 0.25rem; }
  .md--m-t-tiny {
    margin-top: 0.25rem; }
  .md--m-l-tiny {
    margin-left: 0.25rem; }
  .md--m-r-tiny {
    margin-right: 0.25rem; }
  .md--p-tiny {
    padding: 0.25rem; }
  .md--p-b-tiny {
    padding-bottom: 0.25rem; }
  .md--p-t-tiny {
    padding-top: 0.25rem; }
  .md--p-l-tiny {
    padding-left: 0.25rem; }
  .md--p-r-tiny {
    padding-right: 0.25rem; }
  .md--m-1 {
    margin: 0.5rem; }
  .md--m-b-1 {
    margin-bottom: 0.5rem; }
  .md--m-t-1 {
    margin-top: 0.5rem; }
  .md--m-l-1 {
    margin-left: 0.5rem; }
  .md--m-r-1 {
    margin-right: 0.5rem; }
  .md--p-1 {
    padding: 0.5rem; }
  .md--p-b-1 {
    padding-bottom: 0.5rem; }
  .md--p-t-1 {
    padding-top: 0.5rem; }
  .md--p-l-1 {
    padding-left: 0.5rem; }
  .md--p-r-1 {
    padding-right: 0.5rem; }
  .md--m-2 {
    margin: 1rem; }
  .md--m-b-2 {
    margin-bottom: 1rem; }
  .md--m-t-2 {
    margin-top: 1rem; }
  .md--m-l-2 {
    margin-left: 1rem; }
  .md--m-r-2 {
    margin-right: 1rem; }
  .md--p-2 {
    padding: 1rem; }
  .md--p-b-2 {
    padding-bottom: 1rem; }
  .md--p-t-2 {
    padding-top: 1rem; }
  .md--p-l-2 {
    padding-left: 1rem; }
  .md--p-r-2 {
    padding-right: 1rem; }
  .md--m-3 {
    margin: 1.25rem; }
  .md--m-b-3 {
    margin-bottom: 1.25rem; }
  .md--m-t-3 {
    margin-top: 1.25rem; }
  .md--m-l-3 {
    margin-left: 1.25rem; }
  .md--m-r-3 {
    margin-right: 1.25rem; }
  .md--p-3 {
    padding: 1.25rem; }
  .md--p-b-3 {
    padding-bottom: 1.25rem; }
  .md--p-t-3 {
    padding-top: 1.25rem; }
  .md--p-l-3 {
    padding-left: 1.25rem; }
  .md--p-r-3 {
    padding-right: 1.25rem; }
  .md--m-4 {
    margin: 1.5rem; }
  .md--m-b-4 {
    margin-bottom: 1.5rem; }
  .md--m-t-4 {
    margin-top: 1.5rem; }
  .md--m-l-4 {
    margin-left: 1.5rem; }
  .md--m-r-4 {
    margin-right: 1.5rem; }
  .md--p-4 {
    padding: 1.5rem; }
  .md--p-b-4 {
    padding-bottom: 1.5rem; }
  .md--p-t-4 {
    padding-top: 1.5rem; }
  .md--p-l-4 {
    padding-left: 1.5rem; }
  .md--p-r-4 {
    padding-right: 1.5rem; }
  .md--m-5 {
    margin: 2rem; }
  .md--m-b-5 {
    margin-bottom: 2rem; }
  .md--m-t-5 {
    margin-top: 2rem; }
  .md--m-l-5 {
    margin-left: 2rem; }
  .md--m-r-5 {
    margin-right: 2rem; }
  .md--p-5 {
    padding: 2rem; }
  .md--p-b-5 {
    padding-bottom: 2rem; }
  .md--p-t-5 {
    padding-top: 2rem; }
  .md--p-l-5 {
    padding-left: 2rem; }
  .md--p-r-5 {
    padding-right: 2rem; }
  .md--m-6 {
    margin: 2.5rem; }
  .md--m-b-6 {
    margin-bottom: 2.5rem; }
  .md--m-t-6 {
    margin-top: 2.5rem; }
  .md--m-l-6 {
    margin-left: 2.5rem; }
  .md--m-r-6 {
    margin-right: 2.5rem; }
  .md--p-6 {
    padding: 2.5rem; }
  .md--p-b-6 {
    padding-bottom: 2.5rem; }
  .md--p-t-6 {
    padding-top: 2.5rem; }
  .md--p-l-6 {
    padding-left: 2.5rem; }
  .md--p-r-6 {
    padding-right: 2.5rem; }
  .md--m-7 {
    margin: 3rem; }
  .md--m-b-7 {
    margin-bottom: 3rem; }
  .md--m-t-7 {
    margin-top: 3rem; }
  .md--m-l-7 {
    margin-left: 3rem; }
  .md--m-r-7 {
    margin-right: 3rem; }
  .md--p-7 {
    padding: 3rem; }
  .md--p-b-7 {
    padding-bottom: 3rem; }
  .md--p-t-7 {
    padding-top: 3rem; }
  .md--p-l-7 {
    padding-left: 3rem; }
  .md--p-r-7 {
    padding-right: 3rem; }
  .md--m-8 {
    margin: 3.5rem; }
  .md--m-b-8 {
    margin-bottom: 3.5rem; }
  .md--m-t-8 {
    margin-top: 3.5rem; }
  .md--m-l-8 {
    margin-left: 3.5rem; }
  .md--m-r-8 {
    margin-right: 3.5rem; }
  .md--p-8 {
    padding: 3.5rem; }
  .md--p-b-8 {
    padding-bottom: 3.5rem; }
  .md--p-t-8 {
    padding-top: 3.5rem; }
  .md--p-l-8 {
    padding-left: 3.5rem; }
  .md--p-r-8 {
    padding-right: 3.5rem; }
  .md--m-9 {
    margin: 4rem; }
  .md--m-b-9 {
    margin-bottom: 4rem; }
  .md--m-t-9 {
    margin-top: 4rem; }
  .md--m-l-9 {
    margin-left: 4rem; }
  .md--m-r-9 {
    margin-right: 4rem; }
  .md--p-9 {
    padding: 4rem; }
  .md--p-b-9 {
    padding-bottom: 4rem; }
  .md--p-t-9 {
    padding-top: 4rem; }
  .md--p-l-9 {
    padding-left: 4rem; }
  .md--p-r-9 {
    padding-right: 4rem; }
  .md--m-10 {
    margin: 4.5rem; }
  .md--m-b-10 {
    margin-bottom: 4.5rem; }
  .md--m-t-10 {
    margin-top: 4.5rem; }
  .md--m-l-10 {
    margin-left: 4.5rem; }
  .md--m-r-10 {
    margin-right: 4.5rem; }
  .md--p-10 {
    padding: 4.5rem; }
  .md--p-b-10 {
    padding-bottom: 4.5rem; }
  .md--p-t-10 {
    padding-top: 4.5rem; }
  .md--p-l-10 {
    padding-left: 4.5rem; }
  .md--p-r-10 {
    padding-right: 4.5rem; } }

@media screen and (min-width: 1024px) {
  .lg--m-0 {
    margin: 0; }
  .lg--m-b-0 {
    margin-bottom: 0; }
  .lg--m-t-0 {
    margin-top: 0; }
  .lg--m-l-0 {
    margin-left: 0; }
  .lg--m-r-0 {
    margin-right: 0; }
  .lg--p-0 {
    padding: 0; }
  .lg--p-b-0 {
    padding-bottom: 0; }
  .lg--p-t-0 {
    padding-top: 0; }
  .lg--p-l-0 {
    padding-left: 0; }
  .lg--p-r-0 {
    padding-right: 0; }
  .lg--m-tiny {
    margin: 0.25rem; }
  .lg--m-b-tiny {
    margin-bottom: 0.25rem; }
  .lg--m-t-tiny {
    margin-top: 0.25rem; }
  .lg--m-l-tiny {
    margin-left: 0.25rem; }
  .lg--m-r-tiny {
    margin-right: 0.25rem; }
  .lg--p-tiny {
    padding: 0.25rem; }
  .lg--p-b-tiny {
    padding-bottom: 0.25rem; }
  .lg--p-t-tiny {
    padding-top: 0.25rem; }
  .lg--p-l-tiny {
    padding-left: 0.25rem; }
  .lg--p-r-tiny {
    padding-right: 0.25rem; }
  .lg--m-1 {
    margin: 0.5rem; }
  .lg--m-b-1 {
    margin-bottom: 0.5rem; }
  .lg--m-t-1 {
    margin-top: 0.5rem; }
  .lg--m-l-1 {
    margin-left: 0.5rem; }
  .lg--m-r-1 {
    margin-right: 0.5rem; }
  .lg--p-1 {
    padding: 0.5rem; }
  .lg--p-b-1 {
    padding-bottom: 0.5rem; }
  .lg--p-t-1 {
    padding-top: 0.5rem; }
  .lg--p-l-1 {
    padding-left: 0.5rem; }
  .lg--p-r-1 {
    padding-right: 0.5rem; }
  .lg--m-2 {
    margin: 1rem; }
  .lg--m-b-2 {
    margin-bottom: 1rem; }
  .lg--m-t-2 {
    margin-top: 1rem; }
  .lg--m-l-2 {
    margin-left: 1rem; }
  .lg--m-r-2 {
    margin-right: 1rem; }
  .lg--p-2 {
    padding: 1rem; }
  .lg--p-b-2 {
    padding-bottom: 1rem; }
  .lg--p-t-2 {
    padding-top: 1rem; }
  .lg--p-l-2 {
    padding-left: 1rem; }
  .lg--p-r-2 {
    padding-right: 1rem; }
  .lg--m-3 {
    margin: 1.25rem; }
  .lg--m-b-3 {
    margin-bottom: 1.25rem; }
  .lg--m-t-3 {
    margin-top: 1.25rem; }
  .lg--m-l-3 {
    margin-left: 1.25rem; }
  .lg--m-r-3 {
    margin-right: 1.25rem; }
  .lg--p-3 {
    padding: 1.25rem; }
  .lg--p-b-3 {
    padding-bottom: 1.25rem; }
  .lg--p-t-3 {
    padding-top: 1.25rem; }
  .lg--p-l-3 {
    padding-left: 1.25rem; }
  .lg--p-r-3 {
    padding-right: 1.25rem; }
  .lg--m-4 {
    margin: 1.5rem; }
  .lg--m-b-4 {
    margin-bottom: 1.5rem; }
  .lg--m-t-4 {
    margin-top: 1.5rem; }
  .lg--m-l-4 {
    margin-left: 1.5rem; }
  .lg--m-r-4 {
    margin-right: 1.5rem; }
  .lg--p-4 {
    padding: 1.5rem; }
  .lg--p-b-4 {
    padding-bottom: 1.5rem; }
  .lg--p-t-4 {
    padding-top: 1.5rem; }
  .lg--p-l-4 {
    padding-left: 1.5rem; }
  .lg--p-r-4 {
    padding-right: 1.5rem; }
  .lg--m-5 {
    margin: 2rem; }
  .lg--m-b-5 {
    margin-bottom: 2rem; }
  .lg--m-t-5 {
    margin-top: 2rem; }
  .lg--m-l-5 {
    margin-left: 2rem; }
  .lg--m-r-5 {
    margin-right: 2rem; }
  .lg--p-5 {
    padding: 2rem; }
  .lg--p-b-5 {
    padding-bottom: 2rem; }
  .lg--p-t-5 {
    padding-top: 2rem; }
  .lg--p-l-5 {
    padding-left: 2rem; }
  .lg--p-r-5 {
    padding-right: 2rem; }
  .lg--m-6 {
    margin: 2.5rem; }
  .lg--m-b-6 {
    margin-bottom: 2.5rem; }
  .lg--m-t-6 {
    margin-top: 2.5rem; }
  .lg--m-l-6 {
    margin-left: 2.5rem; }
  .lg--m-r-6 {
    margin-right: 2.5rem; }
  .lg--p-6 {
    padding: 2.5rem; }
  .lg--p-b-6 {
    padding-bottom: 2.5rem; }
  .lg--p-t-6 {
    padding-top: 2.5rem; }
  .lg--p-l-6 {
    padding-left: 2.5rem; }
  .lg--p-r-6 {
    padding-right: 2.5rem; }
  .lg--m-7 {
    margin: 3rem; }
  .lg--m-b-7 {
    margin-bottom: 3rem; }
  .lg--m-t-7 {
    margin-top: 3rem; }
  .lg--m-l-7 {
    margin-left: 3rem; }
  .lg--m-r-7 {
    margin-right: 3rem; }
  .lg--p-7 {
    padding: 3rem; }
  .lg--p-b-7 {
    padding-bottom: 3rem; }
  .lg--p-t-7 {
    padding-top: 3rem; }
  .lg--p-l-7 {
    padding-left: 3rem; }
  .lg--p-r-7 {
    padding-right: 3rem; }
  .lg--m-8 {
    margin: 3.5rem; }
  .lg--m-b-8 {
    margin-bottom: 3.5rem; }
  .lg--m-t-8 {
    margin-top: 3.5rem; }
  .lg--m-l-8 {
    margin-left: 3.5rem; }
  .lg--m-r-8 {
    margin-right: 3.5rem; }
  .lg--p-8 {
    padding: 3.5rem; }
  .lg--p-b-8 {
    padding-bottom: 3.5rem; }
  .lg--p-t-8 {
    padding-top: 3.5rem; }
  .lg--p-l-8 {
    padding-left: 3.5rem; }
  .lg--p-r-8 {
    padding-right: 3.5rem; }
  .lg--m-9 {
    margin: 4rem; }
  .lg--m-b-9 {
    margin-bottom: 4rem; }
  .lg--m-t-9 {
    margin-top: 4rem; }
  .lg--m-l-9 {
    margin-left: 4rem; }
  .lg--m-r-9 {
    margin-right: 4rem; }
  .lg--p-9 {
    padding: 4rem; }
  .lg--p-b-9 {
    padding-bottom: 4rem; }
  .lg--p-t-9 {
    padding-top: 4rem; }
  .lg--p-l-9 {
    padding-left: 4rem; }
  .lg--p-r-9 {
    padding-right: 4rem; }
  .lg--m-10 {
    margin: 4.5rem; }
  .lg--m-b-10 {
    margin-bottom: 4.5rem; }
  .lg--m-t-10 {
    margin-top: 4.5rem; }
  .lg--m-l-10 {
    margin-left: 4.5rem; }
  .lg--m-r-10 {
    margin-right: 4.5rem; }
  .lg--p-10 {
    padding: 4.5rem; }
  .lg--p-b-10 {
    padding-bottom: 4.5rem; }
  .lg--p-t-10 {
    padding-top: 4.5rem; }
  .lg--p-l-10 {
    padding-left: 4.5rem; }
  .lg--p-r-10 {
    padding-right: 4.5rem; } }

@media screen and (min-width: 1200px) {
  .xl--m-0 {
    margin: 0; }
  .xl--m-b-0 {
    margin-bottom: 0; }
  .xl--m-t-0 {
    margin-top: 0; }
  .xl--m-l-0 {
    margin-left: 0; }
  .xl--m-r-0 {
    margin-right: 0; }
  .xl--p-0 {
    padding: 0; }
  .xl--p-b-0 {
    padding-bottom: 0; }
  .xl--p-t-0 {
    padding-top: 0; }
  .xl--p-l-0 {
    padding-left: 0; }
  .xl--p-r-0 {
    padding-right: 0; }
  .xl--m-tiny {
    margin: 0.25rem; }
  .xl--m-b-tiny {
    margin-bottom: 0.25rem; }
  .xl--m-t-tiny {
    margin-top: 0.25rem; }
  .xl--m-l-tiny {
    margin-left: 0.25rem; }
  .xl--m-r-tiny {
    margin-right: 0.25rem; }
  .xl--p-tiny {
    padding: 0.25rem; }
  .xl--p-b-tiny {
    padding-bottom: 0.25rem; }
  .xl--p-t-tiny {
    padding-top: 0.25rem; }
  .xl--p-l-tiny {
    padding-left: 0.25rem; }
  .xl--p-r-tiny {
    padding-right: 0.25rem; }
  .xl--m-1 {
    margin: 0.5rem; }
  .xl--m-b-1 {
    margin-bottom: 0.5rem; }
  .xl--m-t-1 {
    margin-top: 0.5rem; }
  .xl--m-l-1 {
    margin-left: 0.5rem; }
  .xl--m-r-1 {
    margin-right: 0.5rem; }
  .xl--p-1 {
    padding: 0.5rem; }
  .xl--p-b-1 {
    padding-bottom: 0.5rem; }
  .xl--p-t-1 {
    padding-top: 0.5rem; }
  .xl--p-l-1 {
    padding-left: 0.5rem; }
  .xl--p-r-1 {
    padding-right: 0.5rem; }
  .xl--m-2 {
    margin: 1rem; }
  .xl--m-b-2 {
    margin-bottom: 1rem; }
  .xl--m-t-2 {
    margin-top: 1rem; }
  .xl--m-l-2 {
    margin-left: 1rem; }
  .xl--m-r-2 {
    margin-right: 1rem; }
  .xl--p-2 {
    padding: 1rem; }
  .xl--p-b-2 {
    padding-bottom: 1rem; }
  .xl--p-t-2 {
    padding-top: 1rem; }
  .xl--p-l-2 {
    padding-left: 1rem; }
  .xl--p-r-2 {
    padding-right: 1rem; }
  .xl--m-3 {
    margin: 1.25rem; }
  .xl--m-b-3 {
    margin-bottom: 1.25rem; }
  .xl--m-t-3 {
    margin-top: 1.25rem; }
  .xl--m-l-3 {
    margin-left: 1.25rem; }
  .xl--m-r-3 {
    margin-right: 1.25rem; }
  .xl--p-3 {
    padding: 1.25rem; }
  .xl--p-b-3 {
    padding-bottom: 1.25rem; }
  .xl--p-t-3 {
    padding-top: 1.25rem; }
  .xl--p-l-3 {
    padding-left: 1.25rem; }
  .xl--p-r-3 {
    padding-right: 1.25rem; }
  .xl--m-4 {
    margin: 1.5rem; }
  .xl--m-b-4 {
    margin-bottom: 1.5rem; }
  .xl--m-t-4 {
    margin-top: 1.5rem; }
  .xl--m-l-4 {
    margin-left: 1.5rem; }
  .xl--m-r-4 {
    margin-right: 1.5rem; }
  .xl--p-4 {
    padding: 1.5rem; }
  .xl--p-b-4 {
    padding-bottom: 1.5rem; }
  .xl--p-t-4 {
    padding-top: 1.5rem; }
  .xl--p-l-4 {
    padding-left: 1.5rem; }
  .xl--p-r-4 {
    padding-right: 1.5rem; }
  .xl--m-5 {
    margin: 2rem; }
  .xl--m-b-5 {
    margin-bottom: 2rem; }
  .xl--m-t-5 {
    margin-top: 2rem; }
  .xl--m-l-5 {
    margin-left: 2rem; }
  .xl--m-r-5 {
    margin-right: 2rem; }
  .xl--p-5 {
    padding: 2rem; }
  .xl--p-b-5 {
    padding-bottom: 2rem; }
  .xl--p-t-5 {
    padding-top: 2rem; }
  .xl--p-l-5 {
    padding-left: 2rem; }
  .xl--p-r-5 {
    padding-right: 2rem; }
  .xl--m-6 {
    margin: 2.5rem; }
  .xl--m-b-6 {
    margin-bottom: 2.5rem; }
  .xl--m-t-6 {
    margin-top: 2.5rem; }
  .xl--m-l-6 {
    margin-left: 2.5rem; }
  .xl--m-r-6 {
    margin-right: 2.5rem; }
  .xl--p-6 {
    padding: 2.5rem; }
  .xl--p-b-6 {
    padding-bottom: 2.5rem; }
  .xl--p-t-6 {
    padding-top: 2.5rem; }
  .xl--p-l-6 {
    padding-left: 2.5rem; }
  .xl--p-r-6 {
    padding-right: 2.5rem; }
  .xl--m-7 {
    margin: 3rem; }
  .xl--m-b-7 {
    margin-bottom: 3rem; }
  .xl--m-t-7 {
    margin-top: 3rem; }
  .xl--m-l-7 {
    margin-left: 3rem; }
  .xl--m-r-7 {
    margin-right: 3rem; }
  .xl--p-7 {
    padding: 3rem; }
  .xl--p-b-7 {
    padding-bottom: 3rem; }
  .xl--p-t-7 {
    padding-top: 3rem; }
  .xl--p-l-7 {
    padding-left: 3rem; }
  .xl--p-r-7 {
    padding-right: 3rem; }
  .xl--m-8 {
    margin: 3.5rem; }
  .xl--m-b-8 {
    margin-bottom: 3.5rem; }
  .xl--m-t-8 {
    margin-top: 3.5rem; }
  .xl--m-l-8 {
    margin-left: 3.5rem; }
  .xl--m-r-8 {
    margin-right: 3.5rem; }
  .xl--p-8 {
    padding: 3.5rem; }
  .xl--p-b-8 {
    padding-bottom: 3.5rem; }
  .xl--p-t-8 {
    padding-top: 3.5rem; }
  .xl--p-l-8 {
    padding-left: 3.5rem; }
  .xl--p-r-8 {
    padding-right: 3.5rem; }
  .xl--m-9 {
    margin: 4rem; }
  .xl--m-b-9 {
    margin-bottom: 4rem; }
  .xl--m-t-9 {
    margin-top: 4rem; }
  .xl--m-l-9 {
    margin-left: 4rem; }
  .xl--m-r-9 {
    margin-right: 4rem; }
  .xl--p-9 {
    padding: 4rem; }
  .xl--p-b-9 {
    padding-bottom: 4rem; }
  .xl--p-t-9 {
    padding-top: 4rem; }
  .xl--p-l-9 {
    padding-left: 4rem; }
  .xl--p-r-9 {
    padding-right: 4rem; }
  .xl--m-10 {
    margin: 4.5rem; }
  .xl--m-b-10 {
    margin-bottom: 4.5rem; }
  .xl--m-t-10 {
    margin-top: 4.5rem; }
  .xl--m-l-10 {
    margin-left: 4.5rem; }
  .xl--m-r-10 {
    margin-right: 4.5rem; }
  .xl--p-10 {
    padding: 4.5rem; }
  .xl--p-b-10 {
    padding-bottom: 4.5rem; }
  .xl--p-t-10 {
    padding-top: 4.5rem; }
  .xl--p-l-10 {
    padding-left: 4.5rem; }
  .xl--p-r-10 {
    padding-right: 4.5rem; } }

.stack-1 * + * {
  margin-top: 1em; }

.block {
  display: block; }

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.layout-flex-row {
  display: flex;
  flex-direction: row; }

.flex-between {
  justify-content: space-between; }

.flex-baseline {
  align-items: baseline; }
